body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top, black, #2D3436, #DFE6E9);
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: flex;
    flex: 1;
}

a, .logo a:visited, .logo a:active, .logo a:hover {
    text-decoration: none;
    color: rgb(224, 239, 252);
}


.login, .signup {
    font-size: 1.2rem;
    color: #1E272E;
    padding: 0.3rem 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.login:hover, .signup:hover {
    background-color: #00CEC9;
    border-radius: 5em;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.2vh);
}

.auth_links {
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 3rem;
    font-family: 'Dancing Script', sans-serif;
    color: rgb(224, 239, 252);
    text-align: center;
    width: 300px;
    background-color: #2D3436;
}

.logins {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.5vh;
}


.input_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.question {
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.6rem;
    width: 50vw;
    height: 3vh;
    padding: 2vh;
    border-radius: 3vh;
}

.question:focus {
    border: none;
    outline: none;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


.submit_icon {
    all: unset;
    background-color: #0c5e9c;
    color: #DFE6E9;
    box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.6rem;
    font-size: 1.5vh;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 2vh;
    transition: all 0.3s ease;
}

.add_icon {
    all: unset;
    background-color: #5c6669;
    color: #DFE6E9;
    box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.6rem;
    font-size: 1.5vh;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 2vh;
    transition: all 0.3s ease;
}

.submit_icon:hover, .add_icon:hover {
    background-color: #0b7775;
    transform: translateY(-0.2vh);
}

.chats {
    width: 300px;
    color: white;
    background: linear-gradient(to top, black, #2D3436);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1.5rem;
}

h3 {
    color: #838588;
}

.chats li {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chats li:hover {
    background-color: rgba(255,255,255,0.08);
}
