body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top, black, rgb(0, 140, 255), white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.question {
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.6rem;

    width: 50vw;

    height: 3vh;

    padding: 2vh;

    border-radius: 3vh;
}

.submit_icon {
    margin-top: 2vh;

    font-size: 1.5vh;

    padding: 1vh 2vw 1vh 2vw;

    border-radius: 2vh;
}